@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Serif&display=swap');

body {
    background: #000000;
}

.home {
    display: block;
    list-style: none;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    justify-content: center;
}

.home img {
    width: 150px;
    height: 150px;
}

.home a {
    color: #ffffff;
    text-decoration: none;
}

.home a:hover {
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #f06292, #ab47bc);
}

.blue-green {
    background-image: linear-gradient(90deg, #039be5, #00c853);
}

.home-brand {
    color: #ffffff;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bolder;
    font-size: 400%;
}

.home-brand:hover {
    color: #ffffff;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bolder;
    font-size: 400%;
}

.home-list {
    color: #000000;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 250%;
    font-weight: 100;
}

header {
    background: #000000;
    width: 100%;
    border-bottom: 5px solid #ffffff;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-image: linear-gradient(#f06292, #f44336);
}

.blog-logo {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 80px;
    height: 80px;
}

.navbar-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.blog-brand {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    color: #000000;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bolder;
    font-size: 200%;
}

.blog-tabs {
    display: flex;
    list-style: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.blog-tabs li {
    display: flex;
    color: #000000;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 150%;
    font-weight: 100;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.blog-tabs li:hover {
    display: flex;
    color: #ffffff;
    background: #000000;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 150%;
    font-weight: 100;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-items a {
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.navbar-items a:hover {
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.blog-list {
    display: flex;
    flex-direction: column-reverse;
    list-style: lower-roman;
    padding: 0px;
    margin-left: 200px;
    margin-right: 200px;
}

.blog-item {
    color: #000000;
    border-bottom: 1px solid #e4e4e4;
}

.blog-item h2 a {
    display: block;
    flex: auto;
    text-decoration: none;
    color: #ffffff;
}

.blog-item h2 a:hover {
    color: #000000;
    background: #ffffff;
    display: inline;
    text-decoration: none;
}

.blog-item h2 {
    display: block;
    font-family: 'IBM Plex Serif', serif;
    font-size: 150%;
    font-weight: bold;
}

section {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

section article {
    margin-left: 200px;
    margin-right: 200px;
    flex: 600px;
}

section article h2 {
    font-size: 200%;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
}

section article img {
    display: block;
    max-width: 100%;
    max-height: 50%;
    margin: auto;
    border: 2px solid #000000;
    image-rendering: auto;
}

section article p {
    font-size: 130%;
    font-family: 'IBM Plex Serif', serif;
    text-align: left;
}

.highlighted {
    color: #000000;
    background: #ffff81;
    border: 0px;
}

.important {
    color: #000000;
    background: #aab6fe;
    border: 0px;
}

.successful {
    color: #000000;
    background: #b2fab4;
    border: 0px;
}

.danger {
    color: #000000;
    background: #ffa4a2;
    border: 0px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    flex: 30%;
    flex-wrap: wrap;
    border: 1px solid #000000;
    padding: 5px;
    margin: 5px;
    align-content: center;
}

.gallery-item img {
    display: block;
    max-width: 300;
    max-height: 150;
    padding: 0px;
    margin: 0px;
    border: 1px solid #000000;
}

.gallery-item h3 {
    display: block;
    font-size: 20px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 100;
}